<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="forgot-password">
        <h1>Recuperar Contraseña</h1>
        <form action="/forgot-password" method="post">
            <label for="username">Usuario</label>
            <input type="text" name="username" placeholder="Usuario" id="username" required>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>
