<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="reset-password">
        <h1>Restablecer Contraseña</h1>
        <form id="reset-form" method="post">
            <label for="password">Nueva Contraseña</label>
            <input type="password" name="password" placeholder="Nueva Contraseña" id="password" required>
            <input type="submit" value="Restablecer">
        </form>
    </div>
    <!--Script para insertar dinámicamente el token en la acción del formulario-->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const form = document.getElementById('reset-form');
            const token = window.location.pathname.split('/').pop();
            form.action = `/reset-password/${token}`;
        });
    </script>
</body>
</html>
